<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/bootstrap.ejs %>
    </head>
  </head>
  <body>
    <%- include ./partials/sidebar.ejs %>
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <% if (session.role == 'teacher') { %>
                    <h1>Selamat Datang Di Halaman Teacher</h1>
                  <% } else if (session.role == 'academic') { %>
                    <h1>Selamat Datang Di Halaman Academic</h1>
                  <% } else if (session.role == 'headmaster') { %>
                    <h1>Selamat Datang Di Halaman Head Master</h1>
                  <% } %>
                    <p class="text-justify">
                      Bacon ipsum dolor sit amet tri-tip shoulder tenderloin shankle. Bresaola tail pancetta ball tip doner meatloaf corned beef.
                      Kevin pastrami tri-tip prosciutto ham hock pork belly bacon pork loin salami pork chop shank corned beef tenderloin meatball cow.
                      Pork bresaola meatloaf tongue, landjaeger tail andouille strip steak tenderloin sausage chicken tri-tip.
                      Pastrami tri-tip kielbasa sausage porchetta pig sirloin boudin rump meatball andouille chuck tenderloin biltong shank
                    </p>
                    <p class="text-justify">
                      Bacon ipsum dolor sit amet tri-tip shoulder tenderloin shankle. Bresaola tail pancetta ball tip doner meatloaf corned beef.
                      Kevin pastrami tri-tip prosciutto ham hock pork belly bacon pork loin salami pork chop shank corned beef tenderloin meatball cow.
                      Pork bresaola meatloaf tongue, landjaeger tail andouille strip steak tenderloin sausage chicken tri-tip.
                      Pastrami tri-tip kielbasa sausage porchetta pig sirloin boudin rump meatball andouille chuck tenderloin biltong shank
                    </p>
                    <p class="text-justify">
                      Bacon ipsum dolor sit amet tri-tip shoulder tenderloin shankle. Bresaola tail pancetta ball tip doner meatloaf corned beef.
                      Kevin pastrami tri-tip prosciutto ham hock pork belly bacon pork loin salami pork chop shank corned beef tenderloin meatball cow.
                      Pork bresaola meatloaf tongue, landjaeger tail andouille strip steak tenderloin sausage chicken tri-tip.
                      Pastrami tri-tip kielbasa sausage porchetta pig sirloin boudin rump meatball andouille chuck tenderloin biltong shank
                    </p>
                    <p class="text-justify">
                      Bacon ipsum dolor sit amet tri-tip shoulder tenderloin shankle. Bresaola tail pancetta ball tip doner meatloaf corned beef.
                      Kevin pastrami tri-tip prosciutto ham hock pork belly bacon pork loin salami pork chop shank corned beef tenderloin meatball cow.
                      Pork bresaola meatloaf tongue, landjaeger tail andouille strip steak tenderloin sausage chicken tri-tip.
                      Pastrami tri-tip kielbasa sausage porchetta pig sirloin boudin rump meatball andouille chuck tenderloin biltong shank
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
<!-- /#wrapper -->
  </body>
</html>
