<%- include partial/header %>
<body>
<%- include partial/menu %>
<h3><a href="/subjects"><i class="fa fa-plus-square"></i> View Data</a></h3>
<form action="/subjects/add" method="post">
	<p>First Name</p>
	<input type="text" name="subject_name" placeholder="subject name"> 
	<label><%-msg%></label>
	<p>
	<input type="submit" value="Add Subject">
	</p>
</form>
</body>
</html>