<a href="/dasboard"><button type="button" name="button" class="btn btn-primary">dasboard</button></a>
<a href="/teacher"><button type="button" name="button" class="btn btn-danger">Teacher</button></a>
<a href="/subject"><button type="button" class="btn btn-success">Subject</button></a>
<a href="/student"><button type="button" class="btn btn-info">Student</button></a>
<a href="/login/logout"><button type="button" class="btn btn-danger">Log Out</button></a>
<br><br>
